
.TextFields{
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
}
.TextFieldsValues{
    color: #ffffff;
    padding: 0px 34px 0px 0px;
    font-style: italic;
    font-family: sans-serif;
}

.TextFieldsBtns{
    color: #ffffff;
    padding: 9px 0px 0px 15px;
    font-style: italic;
}
.TextFieldsBtns a{
    color: #ffffff;
    cursor: pointer;
}

.TextFieldsValues a{
    color: #ffffff;
    font-family: sans-serif;
    cursor: pointer;
}

.Secret button{
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 0;
    text-transform: none;
    box-shadow: none;
    text-decoration: underline;
    background-color: transparent;
}
.Secret button:hover{
    background-color: transparent;
    box-shadow: none;
}
