.KeyGeneratorContainer{
  width: 190vh;
  left: 5vh;
  background-color: #ffffffbf;
  border: 1px solid #e0d8d8;
  position: absolute;
  text-align: center;
  height: 8vh;
  display: flex;
  margin: 24px 0 0 4px;
  padding: -5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 42px;
}

.TitleText{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.Title{
    color: white;
    font-size: 22px;
}
.TitleKey{
    color: black;
    font-size: 22px;
}
  .btn {
    border-radius: 9vh;
    background-color: #194752ed;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 1vh;
    width: 18vh;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 14px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px !important; 
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }
  .AddContainer{
    padding: 1px;
    color: #18444e;
    cursor: pointer;
  }