.Header {
    width: 100%;
    position: fixed;
    bottom: 91vh;
    height: 9vh;
    left: 1px;
    background-color: #194752ed;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: unset;
    -webkit-box-sizing: border-box;
    transition: all linear 0.2s;
    box-sizing: border-box;
    z-index: 90;
}

.Header nav {
    height: 100%;
    background-color: transparent;
    text-align: right
}

.Logo {
    height: 80%;
}