.Header {
    width: 99%;
    position: absolute;
    /* text-align: right; */
    /* top: -50px; */
    bottom: 85vh;
    left: 1px;
    /* background-color: #703B09; */
    
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: unset;
    /* padding: 0 20px; */
    /* -webkit-box-sizing: border-box; */
    box-sizing: border-box;
    z-index: 90;
}

.Header nav {
    height: 100%;
    background-color: transparent;
    text-align: right
}

.Logo {
    height: 80%;
}