.Reset{
 
    margin: 0 auto;
    padding-top: 7vh;
    text-align: center;
}
.InputReset{
    color:black;
}

.myButton{
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 28px;
    background: #26545d;
    color: #fff;
    cursor: pointer;
}
.InputDiv {
    margin-top: 14vh;
    margin-bottom: 4vh;
    width: 71%;
}

.FooterContainer {
    top: 375px;
    /* border: 7vh; */
    width: 200vh;
    position: fixed;
    margin-top: 30vh
}