
  .CurvedDiv {
    position: relative;
    color: #FFF;
    margin: 0;
    text-align: center;
    overflow: hidden;
  }
  .CurvedDiv svg {
    display: block;
  }
  .CurvedDiv.upper {
    background: #fff;
  }

  .ParallaxContainer {
    top: 205vh
  }