.content{
    z-index: 0;
}

.Container{
  width: 500px;
  top: 22vh;
  left: 65vh;
  position: absolute;
  text-align: center;
  height: 23vh;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 42px;
}
.curveddiv {
  position: relative;
  /* background: #194752ed; */
  color: #FFF;
  margin: 0;
  text-align: center;
  overflow: hidden;
}
.curveddiv svg {
  display: block;
}
.curveddiv.upper {
  background: #fff;
}

.TitleText{
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}
.Title{
  color: white;
  font-size: 22px;
}
.TitleKey{
  color: white;
  font-size: 22px;
  margin-top: 15vh;
  margin-bottom: 4vh;
}
